body {
    margin: 40px;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 10px;
    background-color: #fff;
    
    margin-left: calc(50% - 300px);
  }
  
  .box {
    border-radius: 5px;
    border: 1px solid black;
    padding: 20px;
    font-size: 100%;
  }
  .image{
      width: 160px,

  }

  